<section class="listing-card {% if listing.is_deactivated %}listing-card--deactivated{% endif %}">
    <a href="{{ url_for('routes.listing', listing_id=listing.id) }}">
        <div class="listing-image">
            {% if listing.filename %}
                <img
                    src="{{url_for('static',filename='assets/images/user_uploaded/'+ listing.filename)}}"
                    alt="{{ listing.title }}">
            {% else %}
                <img src="https://placehold.co/300x200" alt="">
            {% endif %}
        </div>
        <div class="listing-content">
            <div class="listing-label listing-title">{{ listing.title }}</div>
            <div class="listing-label listing-price">&euro;{{ listing.price }}</div>
        </div>
    </a>
</section>
