# Python cache
__pycache__/

# virtual environments
.flask/
.venv/

# IDE files
.idea/
.vscode/

# environment variables
.env

# database
*.db

# flask session
/flask_session/

# listing images
app/static/assets/images/user_uploaded/

# logs
logs/
