@import url(colors.css);
@import url(components/buttons.css);

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-text-primary);
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

/* Header */

.header {
    display: flex;
    padding: 10px 15px;
    background-color: var(--color-primary);
    height: 12dvh;
    min-height: 70px;

    .nav-container {
        display: flex;
        flex-direction: row;
        padding: 0 10px;
        justify-content: space-between;
        flex-grow: 10;
        align-items: center;

        a {
            color: var(--color-background);
            font-weight: bold;
            transition: color 0.3s;
        }

        .links > a, .user > a {
            text-decoration: none;
            padding: 10px 5px;
        }
    }

    .links-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 15px;

        .logo-header {
            flex-grow: 2;
            height: fit-content;

            img {
                height: 70px;
            }
        }

        .links {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 15px;
            max-height: 12dvh;
        }

        .new_listing a {
            min-width: fit-content;
        }


    }

    .user {
        gap: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .login,
        .sign-up,
        .logout {
            margin-left: auto;

            .btn {
                display: block;
                width: 5em;
                text-align: center;
            }
        }
    }

    .btn {
        background-color: var(--color-tertiary);
        color: var(--color-background);
        padding: 8px 15px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.2s;
        text-decoration: none;

        &:hover {
            background-color: var(--color-quaternary);
        }
    }

    .vertical {
        display: none;
    }

    @media screen and (max-width: 800px) {
        .horizontal {
            display:none;
        }
        .vertical {
            display:block;
        }

        .nav-container-vertical {
            display:flex;
            flex-direction: row;
            padding: 0 10px;
            justify-content: space-between;
            flex-grow: 10;
            align-items: center;

            a {
                color: var(--color-background);
                font-weight: bold;
                text-decoration: none;
                letter-spacing: 1px;
            }
        }

    }

}

#vertical-menu {
    display: none;
    flex-direction: column;
    padding: 1em;
    gap: .5em;
    background-color: var(--color-tertiary);
    align-items: end;

    a {
        color: var(--color-background);
        font-weight: bold;
        text-decoration: none;
    }
}

.container {
    margin: 3dvh 5dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}


/* Footer */
.footer {
    background-color: var(--color-primary);
    color: var(--color-text-secondary);
    text-align: center;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        text-decoration: none;
    }

    a:hover {
        color: var(--color-text-secondary);
    }

    .copyright p {
        margin: 0;
    }

    .footer-links {
        display: flex;
        justify-content: center;
        gap: 40px;
        padding-bottom: 1em;

        .flex-column {
            display: flex;
            flex-direction: column;
            gap: 2dvh;

            > .text-background {
                pad: 5px;
            }
        }
    }

    .logo-footer {
        padding-bottom: 5px;

        img {
            display: block;
            max-width: 200px;
            border-radius: 4px;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}


.sub-container {
    padding: 1em;
    width: 100%;
    max-width: 1400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 2rem;
        margin: 0;
    }

    h2 {
        font-size: 1.6rem;
        margin: 0.5em 0;
    }
}

@media (max-width: 500px) {
    .container {
        margin: 2dvh 2.5dvh;

        .sub-container {
            padding: 0.5em;
        }
    }
}
