@import url(components/paginated_listings.css);
@import url(components/listing_card.css);

.category {
    padding: 1em;
    width: fit-content;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin: 1em;

    .category-meta {
        margin: 1rem 5rem 0rem 5rem;

    }
}


@media screen and (max-width: 800px) {
    .category {
        margin:0;

        .category-meta {
            margin: 0;
        }

    }
}
