body {
    --color-primary: #22c55e;
    --color-secondary: #bbf7d0;
    --color-tertiary: #4eb077;
    --color-text-primary: #333;
    --color-text-secondary: #666;
    --color-background: #f5f3f3;
}
