@import url(components/buttons.css);


.index {
    margin: 1em;

    .index-container {
        padding: 1em;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        margin: 1em;

    }

    .intro {
        text-align: center;

        h1 {
            font-size: 2.5rem;
        }

    }

    .categories-container {

        .category-meta {
            margin: 1rem 5rem 0rem 5rem;
            text-align:center;
        }

        .category-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: .5em;
            justify-content: space-evenly;
            margin: 1rem 2.5rem;

            .category-card {
                display:flex;
                flex-direction:column;
                justify-content: space-between;
                padding: 1em;
                width:10em;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
                border-radius: 8px;
                margin: 1em;
                text-align: center;

                a {
                    text-decoration: none;
                    color: inherit;
                }

            }

            .category-card:hover {
                transform: translateY(-5px);
                box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
            }



        }

        @media screen and (max-width: 800px) {
            .category-meta {
                margin:0;
            }

            .category-list {
                margin:0;
            }

        }
    }

    .listings-container {

        .listing-meta {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1rem 5rem 0rem 5rem;

            a {
                text-decoration: none;
                color: inherit;
            }

        }

        @media screen and (max-width: 800px) {
            .listing-meta {
                margin:0;
                flex-direction: column;
            }

        }

    }

}
