.container {
    padding: 4%;
    width: 40dvw;
    max-width: 380px;
    min-width: 250px;
    margin: 5dvh auto;
    border-radius: 30px;
    border-style: double;
    border-width: 5px;
    background-color: var(--color-secondary);

    > h1 {
        font-size: 2em;
        font-weight: 600;
        margin: 0 0 15px 0;
        text-align: center;
    }

    > form {
        text-align: left;

        > p {
            width: inherit;
            margin: 2dvh 5%;

            > input {
                width: 100%;
                padding: 5px;
                border-radius: 5px;
            }
        }
    }
}

/* custom checkbox */
#remember_me {
    display: none;
}

label[for="remember_me"] {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 1em;
    user-select: none;
}

label[for="remember_me"]::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 2px solid var(--color-primary);
    border-radius: 4px;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
}

label[for="remember_me"]::after {
    content: '✔';
    position: absolute;
    top: -2px;
    left: 3px;
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
}

#remember_me:checked + label[for="remember_me"]::after {
    transform: scale(1);
}

#remember_me:checked + label[for="remember_me"]::before {
    background-color: var(--color-primary);
    border-color: var(--color-tertiary);
}
/* this sucked */

#submit {
    background-color: var(--color-tertiary);
    color: var(--color-background);
    border: 2px solid var(--color-primary);
}

#submit:hover {
    background-color: var(--color-primary);
    border: 2px solid var(--color-tertiary);
}

p .btn {
    position: relative;
    top: 10px;
}

p .btn:hover {
    background-color: var(--color-primary);
}

@media (max-width: 768px) {

    .container {
        padding: 3%;

        > h1 {
            font-size: 1.6em;
            font-weight: 600;
            margin-bottom: 10px;
        }
    }
}