@import url(components/forms.css);

.container {
    padding: 4%;
    width: 40dvw;
    max-width: 380px;
    min-width: 250px;
    margin: 5dvh auto;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    background-color: white;

    > h1 {
        font-size: 2em;
        font-weight: 600;
        margin: 0 0 15px 0;
        text-align: center;
    }
}

.new-user-callout {
    text-align: center;
    a {
        color: var(--color-primary);
        text-decoration: none
    };
}

/* 
@media (max-width: 768px) {

    .container {
        padding: 3%;
        width: 60dvw;

        > h1 {
            font-size: 1.6em;
            font-weight: 600;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 500px) {

    .container {
        padding: 2%;
        width: 70dvw;
    }
} */
