.container {
    padding: 4%;
    width: 40dvw;
    max-width: 380px;
    min-width: 250px;
    margin: 5dvh auto;
    border-radius: 30px;
    border-style: double;
    border-width: 5px;
    background-color: var(--color-secondary);

    > h1 {
        font-size: 2em;
        font-weight: 600;
        margin: 0 0 15px 0;
        text-align: center;
    }

    > form {
        text-align: left;

        > p {
            width: inherit;
            margin: 2dvh 5%;

            > input {
                width: 100%;
                padding: 5px;
                border-radius: 5px;
            }
        }
    }
}

#submit {
    background-color: var(--color-tertiary);
    color: var(--color-background);
    border: 2px solid var(--color-primary);
}

#submit:hover {
    background-color: var(--color-primary);
    border: 2px solid var(--color-tertiary);
}

@media (max-width: 768px) {

    .container {
        padding: 3%;

        > h1 {
            font-size: 1.6em;
            font-weight: 600;
            margin-bottom: 10px;
        }
    }
}