{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/about.css')}}">
{% endblock %}
{% block content %}
<div class="content">
    <div class="content-container intro">
        <h1>About us</h1>
        <p>
            Our application, Marketplace, is inspired by the Dutch Marktplaats. It is a web application which enables users
            to buy items from, and sell items to, other users. It is an attempt to enable consumers to exchange their goods
            for money with other consumers, without charging them even a cent for service fee. It runs ad-free, allowing users
            to enjoy their browsing experience, without annoying pop-ups for items that they are not looking for. With its
            minimalistic interface, Marketplace offers precisely what users might look for in a user-to-user online marketplace,
            without sacrificing functionality.
        </p>
    </div>
</div>
{% endblock %}