{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_listing.css') }}">
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/fileUpload.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <div class="alert alert-info">
        <strong>Notice:</strong> The database is reset daily. Listings you add will be removed during the daily reset.
    </div>
    <form method="post" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
        <div>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.category.label }}<br>
            {{ form.category(size=32) }}
            {% for error in form.category.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.condition.label }}<br>
            {{ form.condition() }}
            {% for error in form.condition.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.description.label }}<br>
            {{ form.description(size=32) }}
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.price.label }}<br>
            <span class="text-icon">€</span>
            {{ form.price(size=16) }}
            {% for error in form.price.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            <label class="file">{{ form.file() }} <span id="image-upload" class="file-label">upload product picture</span></label>
            {% for error in form.file.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>{{ form.submit() }}</div>
    </form>
{% endblock %}