<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Marketplace{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    {% block styles %}
    {% endblock %}
</head>
<body>
    <div class="header">
        <!-- first logo img, then other links, then next pages -->
        <div class="logo-header">
            <a href="{{ url_for('index') }}"><img src="images/placeholder.png"></a>
        </div>

        <div class="ref-links">
            <ul>
                <a href="{{ url_for('index') }}">Listings</a>
                <a href="{{ url_for('add_listing')}}">Add listing</a>
                {% if not current_user.is_anonymous %}
                    <a href="{{ url_for('profile', user_id=current_user.id) }}">My Profile</a>
                {% endif %}
            </ul>
        </div>

        {% if current_user.is_anonymous %}
        <div class="login">
            <a class="btn" href="{{ url_for('login') }}">Login</a>
        </div>

        <div class="sign-up">
            <a class="btn" href="{{ url_for('register' )}}">Sign Up!</a>
        </div>

        {% else %}
        <div class="logout">
            <a class="btn" href="{{ url_for('logout')}}">Logout</a>
        </div>
        {% endif %}
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer">
        <div>
            <ul>
                <a href="{{ url_for('index') }}">About Us</a>
                <a href="{{ url_for('index') }}">Contact Us</a>
            </ul>
        </div>
        <div>
            <ul>
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('index') }}">Listings</a>
            </ul>
        </div>
        <div>
            <ul>
                <a href="{{ url_for('index') }}">Categories:</a>
            </ul>
        </div>
        <div class="logo-footer">
            <a href="{{ url_for('index') }}"><img src="images/placeholder.png"></a>
        </div>
        <div class="copyright">
            <p>&copy; Marketplace <span id="year"></span></p>
            <script>
                document.getElementById("year").innerText = new Date().getFullYear();
            </script>
        </div>
    </div>
</body>
</html>
