{% extends 'base.html' %}
{% block title %}Categories - Marketplace{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/categories.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <h1>Categories</h1>
    {% for data in categories.values() %}
    <div>
        <h2>{{ data["category"].name }}</h2>
        <div class="listings">
            {% for listing in data["listings"] %}
                {% include 'components/listing_card.html' %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
