{% extends 'base.html' %}
{% block title %}Categories - Marketplace{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/categories.css') }}">
{% endblock %}
{% block content %}
    <div class="sub-container">
        <h1>Categories</h1>
        <p>This page lists all categories, as well as a selection of listings per category.</p>
    </div>    
    
    <div class="sub-container">
        {% include 'components/categories_list.html' %}
    </div>

    <div class="sub-container">
    {% for data in listings_per_cat.values() %}
        <div class="category">
            <div class="category-header">
                <h2>{{ data["category"].name }}</h2>
                <a href="{{ url_for('routes.category', category_id=data['category'].id) }}">
                    <button class="outline">View All</button>
                </a>
            </div>
            <div class="listings">
                {% for listing in data["listings"] %}
                    {% include 'components/listing_card.html' %}
                {% endfor %}
            </div>
        </div>
        <hr>
    {% endfor %}
    </div>  
{% endblock %}
