{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/edit_profile.css')}}">
{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='js/fileUpload.js')}}" defer></script>
{% endblock %}

{% extends 'base.html' %}

{% block content %}
    <h1>Edit your profile</h1>
    <form id="profile_edit_form" action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.about_me.label }}<br>
            {{ form.about_me(size=128) }}<br>
            {% for error in form.about_me.errors %}
            <br><span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            <label class="file">{{ form.file() }} <span id="image-upload" class="file-label">upload profile picture</span></label><br>
            {% for error in form.file.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>{{ form.submit() }}</div>
    </form>
{% endblock %}