{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block title %}
Marketplace
{% endblock %}
{% block content %}
<div class="sub-container">
    <h1>Welcome to the Marketplace!</h1>
    <p>Here you can find a variety of listings from different categories. Feel free to browse through the listings
        and
        find what you are looking for.</p>
</div>
    
<div class="sub-container">
    <h2 class="category-meta">Categories</h2>

    {% include 'components/categories_list.html' %}

</div>
    
<div class="sub-container">
    <div class="listing-meta">
        <h2>Open Listings</h2>
        <button class="outline">
            <a href="{{ url_for('routes.listings', page=current_page-1, per_page=per_page) }}">View All</a>
        </button>
    </div>
        
        {% include 'components/paginated_listings.html' %}

    </div>
</div>
{% endblock %}
