{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/listing.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='/css/components/confirm_modal.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='/css/components/buttons.css')}}">
{% endblock %}
{% block title %}
{{ listing.title }} - Marketplace
{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='js/listing.js')}}" type="module" defer></script>
{% endblock %}
{% block content %}
<section>
    <div class="listing">
        <header>
            <div class="listing-header">
                <h1>
                    {% if listing.is_deactivated %}[DEACTIVATED]{% endif %}
                    {{listing.title}}
                    {% if listing.sold %} <span class="sold-tag">Sold</span>{% endif %}
                </h1>
                <div>
                    {% if current_user.is_authenticated %}
                        {% if current_user.id != listing.seller.id %}
                                {% if listing.sold %}
                                <button class="disabled" disabled>Sold</button>
                                {% else %}
                                <button class="primary buy-button" id="buy-listing">Buy</button>
                                {% endif %}
                        {% endif %}
                        {% if current_user.is_admin %}
                            {% if listing.is_deactivated %}
                            <button class="primary" id="reactivate-listing">Re-activate</button>
                            {% else %}
                            <button class="destructive" id="deactivate-listing">Deactivate</button>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="listing-meta">
                <span><a href="{{url_for('profile', user_id=listing.seller.id)}}">{{ listing.seller.name }}</a></span>
                &bullet; <span>{{ listing.created_at.strftime('%H:%M, %d %b %Y') }}</span>
            </div>
        </header>
            <div class="image">
                {% if listing.filename %}
                    <img class="listing-image" src="{{url_for('static',filename='assets/images/user_uploaded/listings_resized/'+ listing.filename)}}" alt="{{ listing.title }}">
                {% else %}
                    <img src="https://placehold.co/600x400" alt="{{ listing.title }}">
                {% endif %}
            <div>
            <div class="price">
                <p>&euro; {{ listing.price }}</p>
            </div>
        </div>
        <div>
            <div class="social-links">
                <ul>
                    <li class="social-link social-link-whatsapp">
                        <a href="https://wa.me?text={{listing.title + ' - ' + request.url}}" target="_blank"
                            title="Share on Whatsapp">
                            <img src="{{url_for('static', filename='assets/images/socials/whatsapp.svg')}}"
                                alt="Whatsapp">
                        </a>
                    </li>
                    <li class="social-link social-link-facebook">
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{request.url}}" target="_blank"
                            title="Share on Facebook">
                            <img src="{{url_for('static', filename='assets/images/socials/facebook.png')}}"
                                alt="Facebook">
                        </a>
                    </li>
                    <li class="social-link social-link-twitter">
                        <a href="https://twitter.com/intent/tweet?text={{listing.title + ' - ' + request.url}}"
                            target="_blank" title="Share on Twitter">
                            <img src="{{url_for('static', filename='assets/images/socials/twitter.svg')}}"
                                alt="Twitter">
                        </a>
                    </li>
                    <li class="social-link social-link-email">
                        <a href="mailto:?subject={{listing.title}}&body={{listing.description + ' - ' + request.url}}"
                            title="Share via email">
                            <img src="{{url_for('static', filename='assets/images/socials/email.svg')}}" alt="Email">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="description">
            <h2>Description</h1>
                <p>{{ listing.description }}</p>
        </div>
    </div>
    {% include 'components/confirm_modal.html' %}
</section>
{% endblock %}
