{% extends 'base.html' %}

{% block content %}
    <div class="profile_page">
        <h1>
            {{ user.name }}'s Profile
        </h1>

        {% if user.id == current_user.id %}
            <a href="{{ url_for('edit_profile', user_id=user.id) }}">Edit Your Profile</a>
        {% endif %}

        <h2 id="about_me">About Me</h2>
        {% if user.about_me %}
            <p>
                {{ user.about_me }}
            </p>
        {% else %}
            <p> 
                This user has not written a custom description yet
            </p>
        {% endif %}

        <!-- TODO: Add possibility to add profile photo to user profile -->


    
        <h2 id="current_listings">Current Listings</h2>
        <div class="listings">
            {% for listing in listings %}
                {% include 'components/listing_card.html' %}
            {% endfor %}
        </div>
    </div>

{% endblock %}