@import url(colors.css);

button {
    border-radius: 5px;
    border:none;
    height: fit-content;
    padding: 10px 20px;
}

button:focus {
    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--color-tertiary);
    outline-offset: 1px;
}

button.primary {
    background-color: var(--color-primary);
    color: #fff;
}

button.secondary {
    background-color: var(--color-secondary);
    color: #fff;
}

button.outline {
    background-color: transparent;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

button.destructive {
    background-color: var(--color-destructive);
    color: #fff;
}

button.disabled {
    background-color: var(--color-disabled);
    color: #fff;
}
