@import url(../colors.css);

.listing-card {
    padding: 1em;
    max-width: 96%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

    > a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
    }

    .listing-image {

        > img {
            display: block;
            border-radius: 5px 5px 0px 0px;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .listing-content {
        display:flex;
        justify-content:space-between;
        padding: 5px 8px;
        border-radius: 0px 0px 5px 5px;
        background-color: var(--color-primary);
        color: var(--color-text-primary);
        text-decoration: none;

        > .listing-label {
            font-size: 1.25em;
            font-weight: 600;
        }
    }

    @media screen and (max-width: 800px) {
        .listing-content {
            flex-direction: column;
            text-align: center;
        }
    }
}

.listing-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);

    .listing-content {
        background-color: var(--color-secondary);
    }

}
